@import "../../../../mixins.scss";

.back-button {
  position: absolute;
  top: 0;
  left: -30px;
  height: 30px;
  width: 30px;
  background: #2F80ED;
  border-radius: 5px 0px 0px 5px;

  color: white;
  text-align: center;
  font-size: 36px;
  line-height: 22px;
  user-select: none;

  cursor: pointer;
}
img{
  max-height: 500px;
  width: auto;
  @include laptop {
    max-height: 300px;
  }
}

.window{
  @include laptop {
    flex-direction: column;
  }
}
