<div
  class="card border p-3 d-flex justify-content-between text-white"
  [dirSetBg]="movie"
>
  <div class="label text-center bg-opacity-75 bg-gradient py-2">
    {{ movie?.Runtime }}
  </div>
  <div class="description">
    <div class="rate pb-2">
      <span class="bg-warning p-2 me-3 rounded">IMDb</span>
      <span>{{ movie?.imdbRating }}</span>
    </div>
    <p class="year mb-0 fw-light">{{ movie?.Year }}</p>
    <p class="lead lh-1 fw-bold">{{ movie?.Title }}</p>
    <button class="link-light btn btn-outline-dark mb-0 w-100" (click)="toDetailedPage()">Узнать больше...</button>
  </div>
</div>
