@import "../../../../mixins.scss";

.card {
  width: 246px;
  height: 344px;
  font-size: 13px;

  @include laptop {
    width: 200px;
    height: 280px;
  }
}

.label {
  width: 40%;
  position: relative;
  left: -1rem;
}

