@import "../node_modules/bootstrap/scss/bootstrap-utilities.scss";
@import './mixins';

.pink-text {
  color: $pink-400;
}

.darker-bg {
  background-color: #131315;
}

.wrap {
  max-width: 1320px;
  margin: 0 auto;
}

.root-el-container {
  min-height: 720px;
  overflow-y: hidden;

  @include laptop() {
    min-height: 600px;
  }
  @include tablet(){
    height: auto;
  }
}
